body {

    background-image: url(https://lh3.googleusercontent.com/proxy/VgU7MtYMQsM1H6380zEygI3O21rqOwO3-e8AcjFn-GPnXCwG9AAf-Nj6bodKqFse0RFkpVyB0SB96QwsSjPanBMBkgtPAAwwjaGMEgfk1D9pAh2ZBu7f_A37BADOc8nvDmmYlSef);

}


.jumbotron {

    padding: 1rem;
    font-family: cursive;
    font-style: oblique;
    text-align: center;
    background-color: black;
    color: red;

}

.nav-wrapper {

    background-color: yellow;

}

.brand-logo {

    color: black !important;
    font-family: fantasy;

}

.waves-effect {

    border: double;
    background: black;
    color: red;

}